snippet sql
require "sequel"

def main
	db = Sequel.mysql('$1', :host=>'$2', :user=>'$3', :password=>'$4')

	# query = db[:table].select(:id).where(:col => 'value').each { |id| ... }
	$0
end

main

endsnippet

snippet ---
# -------------------------------------------------

endsnippet
